.header {
    margin: 16px 20px;
}

.card {
    gap: 0;
    width: auto;
}

.nav__menu {
    position: relative;
}

.nav__menu::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 71px;
    top: 10px;
    left: 50%;
    background-color: #403F3D;
    rotate: -90deg;
}

.menu__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu__card {
    border: 1px solid #C1B6AD;
    border-radius: 40px;
    overflow: hidden;
    text-align: start;
    display: flex;
    align-items: flex-start;
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 18px 18px;
    height: 100%;
}

.card__img {
    border-radius: 40px;
}

.card__description {
    line-height: 140%;
}

.card__price {
    margin-top: auto;
    letter-spacing: 0.6px;
}

.menu {
    margin: 0 40px;
}

.menu__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;
}

.menu__title {
    font-family: Inter;
    font-size: 62px;
    font-weight: 600;
    color: #403F3D;
    width: 860px;
    text-align: center;
    letter-spacing: 0.79px;
}

.menu__tabs {
    display: flex;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
}

.menu__tab {
    display: flex;
    align-items: center;
    border: 1px solid #C1B6AD;
    border-radius: 40px;
    padding: 8px 16px 8px 8px;
    gap: 8px;
    color: #403F3D;
}

.menu__tab--active {
    background-color: #665F55;
    color: #E1D4C9;
}

.tab__icon {
    padding: 7px;
    border-radius: 50%;
    background-color: #C1B6AD
}

.tab__icon--active {
    background-color: #E1D4C9;
}

.tab__name {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}

.menu__grid {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    grid-template-rows: repeat(2, auto);
    gap: 40px;
}