h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    background-color: #E1D4C9;
    margin: 0 auto;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    background-color: transparent;
    border-radius: 40px;
    padding: 20px;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.section {
    margin: 0 40px;
}

.header {
    margin: 18px 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.nav-logo {
    cursor: pointer;
}

.nav-list {
    align-items: center;
    display: flex;
    gap: 40px;
}

.nav-link {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #403F3D;
}

.nav-link:hover {
    text-decoration-line: underline;
    transition: 0.3s;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #403F3D;
    cursor: pointer;
}

.nav-menu:hover {
    text-decoration-line: underline;
    transition: 0.3s;
}

.menu-ico {
    margin: 0px 0 5px 0;
}

.nav-burger {
    display: none;
    cursor: pointer;
}

.burger-line {
    width: 25px;
    height: 1.5px;
    background-color: #403F3D;
}

.burger-line::after {
    content: '';
    display: block;
    width: 25px;
    height: 1.5px;
    background-color: #403F3D;
    margin: 8px 0;
}

.hero {
    background-image: url('./assets/png/img-hero.png');
    padding: 100px;
    border-radius: 40px;
}

.hero-container {
    width: 530px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.hero-title {
    font-family: Inter;
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: 2.6px;
    color: #E1D4C9;
}

.h1-accent {
    font-style: italic;
    color: #B0907A;
}

.hero-subtitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #E1D4C9;
    letter-spacing: 0.08px;
}

.hero-button {
    background-color: #E1D4C9;
}

@media (max-width: 786px) {
    .nav-list {
        display: none;
    }

    .nav-menu {
        display: none;
    }

    .nav-burger {
        display: flex;
        border: 1px solid #403F3D;
        align-items: center;
        border-radius: 50%;
        padding: 18px;
    }

    .hero {
        padding: 100px 60px;
    }
}