* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    background-color: #E1D4C9;
    margin: 0 auto;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    width: 200px;
    height: 64px;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    background-color: transparent;
    border-radius: 40px;
}

a,
a:active {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.text--italic {
    font-style: italic;
    color: #B0907A;
}

.section {
    margin: 0 40px;
}

.card {
    width: 480px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.header {
    margin: 18px 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.nav__logo {
    cursor: pointer;
}

.nav__list {
    align-items: center;
    display: flex;
    gap: 40px;
}

.nav__link {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    color: #403F3D;
}

.nav__link:hover {
    text-decoration-line: underline;
    transition: 0.3s;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #403F3D;
    cursor: pointer;
}

.nav__menu:hover {
    text-decoration-line: underline;
    transition: 0.3s;
}

.nav__title {
    font-family: Inter;
    font-size: 18px;
    color: #403F3D;
}

.menu__ico {
    margin: 0px 0 5px 0;
}

.nav__burger {
    display: none;
    cursor: pointer;
}

.burger__line {
    width: 16px;
    height: 1.5px;
    background-color: #403F3D;
    position: relative;
}

.burger__line:nth-child(1) {
    top: -4px;
    left: 10px;
}

.burger__line:nth-child(2) {
    top: 4px;
    left: -5px;
}

.hero {
    background-image: url('./assets/png/img-hero.png');
    padding: 100px;
    border-radius: 40px;
}

.hero__container {
    width: 530px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.hero__title {
    font-family: Inter;
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: 2.6px;
    color: #E1D4C9;
}

.hero__subtitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #E1D4C9;
    letter-spacing: 0.08px;
}

.hero__button {
    background-color: #E1D4C9;
    padding: 20px;
}

.favorite {
    margin: 100px 40px;
}

.favorite__title {
    font-family: Inter;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 1.98px;
}

.favorite__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 39.5px 0;
}

.favorite__border {
    width: 60px;
    height: 60px;
    border: 1px solid #665F55;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.favorite__btn--prev {
    position: relative;
    width: 16px;
    height: 1px;
    background-color: #403F3D;
}

.favorite__btn--prev::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 1px;
    left: 3px;
    transform: rotate(45deg);
    background-color: #403F3D;
    bottom: -1px;
}

.favorite__btn--prev::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 1px;
    left: 3px;
    transform: rotate(-45deg);
    background-color: #403F3D;
    top: -1px;
}

.favorite__btn--next {
    position: relative;
    width: 16px;
    height: 1px;
    background-color: #403F3D;
}

.favorite__btn--next::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 1px;
    right: 3px;
    transform: rotate(-45deg);
    background-color: #403F3D;
    bottom: -1px;
}

.favorite__btn--next::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 1px;
    right: 3px;
    transform: rotate(45deg);
    background-color: #403F3D;
    top: -1px;
}

.card__img {
    width: 100%;
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.card__title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    color: #403F3D;
    letter-spacing: 0.36px;
}

.card__description {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color: #665F55;
    letter-spacing: 0.16px;
}

.card__price {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    color: #403F3D;
}

.favorite__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.favorite__dot {
    background-color: #C1B6AD;
    width: 40px;
    height: 4px;
}

.favorite__dot--active {
    background-color: #403F3D;
}

.about__container {
    margin: 40px 0 0 0;
}

.about__title {
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 2.04px;
    color: #403F3D;
}

.about__container {
    display: flex;
    gap: 40px;
}

.about__img-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.about__img {
    width: 718px;
    object-fit: cover;
    display: block;
}

.about__img--small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about__img--big {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about__img-wrapper--big {
    width: 100%;
    height: 590px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.about__img-wrapper--small {
    width: 100%;
    height: 430px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.mobile-app {
    margin: 98px 40px;
}

.mobile__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile__offer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile__title {
    font-family: Inter;
    font-size: 62px;
    font-weight: 600;
    line-height: 121%;
    width: 567px;
    letter-spacing: 1.0px;
}

.mobile__subtitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 135%;
    color: #403F3D;
    width: 611px;
}

.mobile-app__cta {
    border: 1px solid #403F3D;
    position: relative;
}

.mobile-app__buttons {
    display: flex;
    gap: 20px;
}

.mobile-app__ico {
    position: absolute;
    top: 13px;
    left: 24px;
}

.mobile-app__title {
    position: absolute;
    top: 10px;
    left: 64px;
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
}

.mobile-app__description {
    position: absolute;
    bottom: 12px;
    left: 63px;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.footer {
    background-color: #665F55;
    margin: 0 40px 40px 40px;
    border-radius: 40px;
}

.footer__container {
    display: flex;
    align-items: center;
    padding: 93px 368px 100px 100px;
    justify-content: space-between;
}

.footer__offer {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.offer__title {
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    color: #E1D4C9;
    letter-spacing: 2.12px;
}

.offer__icons {
    display: flex;
    gap: 10px;
}

.offer__icon {
    border: 1px solid #C1B6AD;
    padding: 18px;
    border-radius: 50%;
}

.footer__contact-us {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-us__title {
    color: #E1D4C9;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.contact-us__infos {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.contact-us__info {
    display: flex;
    gap: 10px;
    color: #E1D4C9;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 1310px) {
    .footer__offer {
        width: 100%;
    }

    .mobile__container {
        display: block;
    }
}

@media (max-width: 786px) {
    .nav__list {
        display: none;
    }

    .nav__menu {
        display: none;
    }

    .nav__burger {
        display: flex;
        border: 1px solid #403F3D;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        position: relative;
        padding: 0;
        background-color: transparent;
        border: none;
        margin: 10px 0 0 0;
    }

    .nav__burger::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid #403F3D;
    }

    .hero {
        padding: 100px 60px;
        margin: 0 40px;
    }

    .about__title {
        letter-spacing: 1.70px;
    }

    .about__container {
        flex-direction: column;
    }

    .about__img-column {
        width: 100%;
    }

    .about__img-wrapper--small {
        display: none;
    }

    .about__img--small {
        display: none;
    }

    .mobile__title {
        width: 100%;
    }

    .mobile__subtitle {
        width: 100%;
    }

    .mobile__img {
        width: 100%;
        padding: 100px 0px 0px 29px;
    }

    .footer {
        margin: 0 40px;
    }

    .footer__container {
        padding: 103px 63px;
        flex-direction: column;
        gap: 100px;
        align-items: normal;
    }

    .footer__offer {
        gap: 36px;
    }
}

@media (max-width: 666px) {
    .hero__container {
        width: 100%;
    }

    .favorite__border {
        display: none;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .header {
        margin: 18px 16px;
    }

    .section {
        margin: 0 14px;
    }

    .nav {
        margin: 0;
    }

    .hero {
        padding: 60px 16px;
        margin: 0px 16px;
    }

    .hero__title {
        font-size: 42px;
        line-height: 115%;
        letter-spacing: 1.4px;
    }

    .hero__container {
        width: 320px;
    }

    .favorite__container {
        margin: 100px 0;
    }

    .favorite__title {
        font-size: 32px;
        line-height: 125%;
        letter-spacing: 1.1px;
    }

    .favorite__border {
        display: none;
    }

    .favorite__btn--prev,
    .favorite__btn--next {
        display: none;
    }

    .favorite__slider {
        margin: 45px 0;
    }

    .card {
        gap: 11px;
    }

    .card__text {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    .card__description {
        letter-spacing: 0px;
    }

    .about__title {
        font-size: 32px;
        line-height: 125%;
        letter-spacing: 1.1px;
    }

    .about__img-wrapper--big {
        width: 349px;
    }

    .mobile-app {
        margin: 104px 15px;
    }

    .mobile-app__buttons {
        flex-direction: column;
    }

    .mobile__title {
        font-size: 32px;
        line-height: 115%;
        width: 340px;
    }

    .mobile__subtitle {
        width: 327px;
    }

    .mobile__img {
        width: 348px;
        padding: 38px 0px 0px 0px;
    }

    .footer__container {
        padding: 53px 16px;
        gap: 40px;
    }

    .footer__offer {
        width: 343px;
    }

    .offer__title {
        font-size: 32px;
        line-height: 125%;
        letter-spacing: 1.4px;
    }

    .offer__icons {
        gap: 12px;
    }
}